@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500&display=swap');

/* GENERAL */
html {
    font-size: 16px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #595959;
    margin: 0;
}
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
canvas {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/* HEADER */
.dash-header {
    padding: 20px;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;

    .dash-column {
        display: flex;
        align-items: center;

        &.brand {
            transition: max-width .3s ease;
            max-width: 340px;

            @media screen and (max-width:499px) {
                max-width: 200px;
            }
            img {
                width: 100%;
            }
        }
    }    
}
.dash-user {
    border: 1px solid #efefef;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 4px 4px 4px rgba(239, 239, 239, .4);

    @media screen and (max-width:639px) {
        border-radius: 100%;
        width: 52px;
        height: 52px;
        padding: 5px;
        box-sizing: border-box; 
    }
    p {
        overflow: hidden;
        margin: 0;
        transition: max-width .3s ease;
        max-width: 125px;
        white-space: nowrap;

        @media screen and (max-width:639px) {
            max-width: 0;
        }
    }
    .dash-avatar {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-left: 10px;
        flex-shrink: 0;

        @media screen and (max-width:639px) {
            margin: 0;
        }
        img {
            width: 100%;
        }
    }
}

/* PAGE LAYOUT */
.page-container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    transition: padding .4s ease;

    @media screen and (max-width:479px) {
        padding: 0px;
    }
}
.usage-row {
    padding: 20px 0;

    &.one {
        border-bottom:1px solid #efefef;
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: normal;
        }
        .usage-column {
            position: relative;
            min-width: 320px;

            &.detail {
                flex-grow: 1;
                padding-left: 80px;

                @media screen and (max-width: 768px) {
                    padding-left: 0;
                }
            }
        }
    }
    &.two {
        overflow: hidden;
    }
}
/* TABS */
#chart-tabs-wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
    .chart-wrapper {
        display: flex;
        align-items: center;
    }
}
.chart-tabs {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    @media screen and (max-width:479px) {
        padding-left: 10px;
    }
}
.chart-wrapper {
    position: relative;
    min-height: 300px;

    @media screen and (max-width:479px) {
        padding: 0 15px;
    }
}
.tab-item {
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: 5px 5px 5px 25px;
    margin-bottom: 5px;
    white-space: nowrap;
    transition: padding .3s;

    &.active {
        text-decoration: underline;
    }
    &:hover {
        padding-left: 28px;
        padding-right: 2px;

        &::before {
            opacity: 1;
        }
    }
    &::before {
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        border-radius: 100%;
        opacity: .5;
        transition: opacity .3s, transform .3s;
        transform: translateY(-50%);

        @at-root .active#{&} {
            opacity: 1;
            transform: scale(1.2) translateY(-50%);
        }
        @at-root [data-content="Office"]#{&} {
            background-color: $office;
        }
        @at-root [data-content="House"]#{&} {
            background-color: $house;
        }
        @at-root [data-content="Class"]#{&} {
            background-color: $class;
        }
        @at-root [data-content="Group"]#{&} {
            background-color: $group;
        }
    }
}
.tab-panel {
    display: none;

    &.active {
        display: block;
    }
    h2 {
        text-transform: uppercase;
    }
}

/* AUTHORS */
.usage-authors {
    display: flex;
    align-items: flex-start;
    position: relative;

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
    .usage-column {
        &.author-count {
            padding-top: 25px;
            transition: opacity .3s ease, color .3s ease;
            opacity: 0;

            @media screen and (max-width:768px) {
                padding-top: 0;
                position: absolute;
                left: 0px;
                top: -69px;
                background-color: #efefef;
                padding: 10px;
                color: #efefef;
                opacity: 1;
                z-index: 2;
            }
            @at-root .loaded#{&} {
                opacity: 1;

                @media screen and (max-width:768px) {
                    color: #333;
                }
            }
            p {
                text-align: center;
                font-size: 3rem;
                margin: 0;

                @media screen and (max-width:768px) {
                    font-size: 1.8rem;
                }
                span {
                    display: block;
                    font-size: 1rem;

                    @media screen and (max-width:768px) {
                        font-size: .7rem;
                    }
                }
            }
        }
    }
    .author-details {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding-left: 80px;
        list-style: none;
        margin: 0;
    
        @media screen and (max-width:768px) {
            padding: 50px 0 0;
        }
        @media screen and (max-width:599px) {
            flex-direction: column;
            padding-top: 25px;
        }
        .author-detail {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            padding: 0 20px;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform .4s ease-out, opacity .4s ease-out;
    
            @at-root .loaded#{&} {
                opacity: 1;
                transform: translateY(0);

                @media screen and (max-width:599px) {
                    transform: translateX(0);
                    
                    &:nth-child(even){
                        transform: translateX(0px);   
                    }
                }
            }

            @media screen and (max-width:599px) {
                width: 100%;
                flex-direction: row;
                border-bottom: 1px solid #efefef;
                padding: 20px;
                transform: translateY(0px);
                transform: translateX(-100px);

                &:nth-child(even){
                    transform: translateX(100px);   
                }
                &:last-child {
                    border: 0;
                }
            }
        }
        .post-circle-outer {
            width: 100%;

            @media screen and (max-width:599px) {
                flex-grow: 1;
                width: 50%;
            }
        }
        .post-circle {
            position: relative;
            width: 100%;
            padding-top: 100%;
        
            .post-circle-inner {
                color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 80%;
                height: 80%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                max-height: 100%;
                min-height: 30px;
                min-width: 30px;
                
                &::before {
                    width: 100%;
                    height: 100%;
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 100%;
                    transition:transform .3s;
                    transform-origin: 50%;
    
                    @at-root [data-class="Office"]#{&} {
                        background-color: $office;
                    }
                    @at-root [data-class="House"]#{&} {
                        background-color: $house;
                    }
                    @at-root [data-class="Class"]#{&} {
                        background-color: $class;
                    }
                    @at-root [data-class="Group"]#{&} {
                        background-color: $group;
                    }
                }
                &:hover::before {
                    transform: scale(1.2);
                }
                span {
                    position: relative;
                }
            }
        }
        .author-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 25px;
            font-size: .8rem;

            @media screen and (max-width:599px) {
                width: 200px;
                margin-top: 0;
                text-align: left;
                align-items: flex-start;
                margin-left: 20px;
            }
        }
        .author-name {
            color: #91b24d;
            text-transform: uppercase;
            font-weight: 700;
    
            @at-root [data-class="Office"]#{&} {
                color: $office;
            }
            @at-root [data-class="House"]#{&} {
                color: $house;
            }
            @at-root [data-class="Class"]#{&} {
                color: $class;
            }
            @at-root [data-class="Group"]#{&} {
                color: $group;
            }
        }
    }
}

@for $i from 1 to 6 {
    .usage-authors .author-detail:nth-child(#{$i}) { 
        transition-delay: #{(6 - $i) * 0.05}s;
    }
}
@for $i from 1 through 6 {
    .usage-authors.loaded .author-detail:nth-child(#{$i}n) {
      transition-delay: $i * 0.05s; 
    }
}