@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500&display=swap");
/* GENERAL */
html {
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #595959;
  margin: 0;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

canvas {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* HEADER */
.dash-header {
  padding: 20px;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}
.dash-header .dash-column {
  display: flex;
  align-items: center;
}
.dash-header .dash-column.brand {
  transition: max-width 0.3s ease;
  max-width: 340px;
}
@media screen and (max-width: 499px) {
  .dash-header .dash-column.brand {
    max-width: 200px;
  }
}
.dash-header .dash-column.brand img {
  width: 100%;
}

.dash-user {
  border: 1px solid #efefef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 4px 4px 4px rgba(239, 239, 239, 0.4);
}
@media screen and (max-width: 639px) {
  .dash-user {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    padding: 5px;
    box-sizing: border-box;
  }
}
.dash-user p {
  overflow: hidden;
  margin: 0;
  transition: max-width 0.3s ease;
  max-width: 125px;
  white-space: nowrap;
}
@media screen and (max-width: 639px) {
  .dash-user p {
    max-width: 0;
  }
}
.dash-user .dash-avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
  flex-shrink: 0;
}
@media screen and (max-width: 639px) {
  .dash-user .dash-avatar {
    margin: 0;
  }
}
.dash-user .dash-avatar img {
  width: 100%;
}

/* PAGE LAYOUT */
.page-container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  transition: padding 0.4s ease;
}
@media screen and (max-width: 479px) {
  .page-container {
    padding: 0px;
  }
}

.usage-row {
  padding: 20px 0;
}
.usage-row.one {
  border-bottom: 1px solid #efefef;
  display: flex;
}
@media screen and (max-width: 768px) {
  .usage-row.one {
    flex-direction: column;
    align-items: normal;
  }
}
.usage-row.one .usage-column {
  position: relative;
  min-width: 320px;
}
.usage-row.one .usage-column.detail {
  flex-grow: 1;
  padding-left: 80px;
}
@media screen and (max-width: 768px) {
  .usage-row.one .usage-column.detail {
    padding-left: 0;
  }
}
.usage-row.two {
  overflow: hidden;
}

/* TABS */
#chart-tabs-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #chart-tabs-wrapper {
    justify-content: center;
  }
}
#chart-tabs-wrapper .chart-wrapper {
  display: flex;
  align-items: center;
}

.chart-tabs {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
@media screen and (max-width: 479px) {
  .chart-tabs {
    padding-left: 10px;
  }
}

.chart-wrapper {
  position: relative;
  min-height: 300px;
}
@media screen and (max-width: 479px) {
  .chart-wrapper {
    padding: 0 15px;
  }
}

.tab-item {
  border: 0;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 25px;
  margin-bottom: 5px;
  white-space: nowrap;
  transition: padding 0.3s;
}
.tab-item.active {
  text-decoration: underline;
}
.tab-item:hover {
  padding-left: 28px;
  padding-right: 2px;
}
.tab-item:hover::before {
  opacity: 1;
}
.tab-item::before {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  border-radius: 100%;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-50%);
}
.active.tab-item::before {
  opacity: 1;
  transform: scale(1.2) translateY(-50%);
}

[data-content=Office].tab-item::before {
  background-color: #CA6DA6;
}

[data-content=House].tab-item::before {
  background-color: #91b24d;
}

[data-content=Class].tab-item::before {
  background-color: #7BC3F1;
}

[data-content=Group].tab-item::before {
  background-color: #FCC266;
}

.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
.tab-panel h2 {
  text-transform: uppercase;
}

/* AUTHORS */
.usage-authors {
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 768px) {
  .usage-authors {
    flex-direction: column;
    align-items: center;
  }
}
.usage-authors .usage-column.author-count {
  padding-top: 25px;
  transition: opacity 0.3s ease, color 0.3s ease;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .usage-authors .usage-column.author-count {
    padding-top: 0;
    position: absolute;
    left: 0px;
    top: -69px;
    background-color: #efefef;
    padding: 10px;
    color: #efefef;
    opacity: 1;
    z-index: 2;
  }
}
.loaded.usage-authors .usage-column.author-count {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .loaded.usage-authors .usage-column.author-count {
    color: #333;
  }
}

.usage-authors .usage-column.author-count p {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .usage-authors .usage-column.author-count p {
    font-size: 1.8rem;
  }
}
.usage-authors .usage-column.author-count p span {
  display: block;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .usage-authors .usage-column.author-count p span {
    font-size: 0.7rem;
  }
}
.usage-authors .author-details {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-left: 80px;
  list-style: none;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .usage-authors .author-details {
    padding: 50px 0 0;
  }
}
@media screen and (max-width: 599px) {
  .usage-authors .author-details {
    flex-direction: column;
    padding-top: 25px;
  }
}
.usage-authors .author-details .author-detail {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.loaded.usage-authors .author-details .author-detail {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 599px) {
  .loaded.usage-authors .author-details .author-detail {
    transform: translateX(0);
  }
  .loaded.usage-authors .author-details .author-detail:nth-child(even) {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 599px) {
  .usage-authors .author-details .author-detail {
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid #efefef;
    padding: 20px;
    transform: translateY(0px);
    transform: translateX(-100px);
  }
  .usage-authors .author-details .author-detail:nth-child(even) {
    transform: translateX(100px);
  }
  .usage-authors .author-details .author-detail:last-child {
    border: 0;
  }
}
.usage-authors .author-details .post-circle-outer {
  width: 100%;
}
@media screen and (max-width: 599px) {
  .usage-authors .author-details .post-circle-outer {
    flex-grow: 1;
    width: 50%;
  }
}
.usage-authors .author-details .post-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.usage-authors .author-details .post-circle .post-circle-inner {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  min-height: 30px;
  min-width: 30px;
}
.usage-authors .author-details .post-circle .post-circle-inner::before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  transition: transform 0.3s;
  transform-origin: 50%;
}
[data-class=Office].usage-authors .author-details .post-circle .post-circle-inner::before {
  background-color: #CA6DA6;
}

[data-class=House].usage-authors .author-details .post-circle .post-circle-inner::before {
  background-color: #91b24d;
}

[data-class=Class].usage-authors .author-details .post-circle .post-circle-inner::before {
  background-color: #7BC3F1;
}

[data-class=Group].usage-authors .author-details .post-circle .post-circle-inner::before {
  background-color: #FCC266;
}

.usage-authors .author-details .post-circle .post-circle-inner:hover::before {
  transform: scale(1.2);
}
.usage-authors .author-details .post-circle .post-circle-inner span {
  position: relative;
}
.usage-authors .author-details .author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  font-size: 0.8rem;
}
@media screen and (max-width: 599px) {
  .usage-authors .author-details .author-info {
    width: 200px;
    margin-top: 0;
    text-align: left;
    align-items: flex-start;
    margin-left: 20px;
  }
}
.usage-authors .author-details .author-name {
  color: #91b24d;
  text-transform: uppercase;
  font-weight: 700;
}
[data-class=Office].usage-authors .author-details .author-name {
  color: #CA6DA6;
}

[data-class=House].usage-authors .author-details .author-name {
  color: #91b24d;
}

[data-class=Class].usage-authors .author-details .author-name {
  color: #7BC3F1;
}

[data-class=Group].usage-authors .author-details .author-name {
  color: #FCC266;
}

.usage-authors .author-detail:nth-child(1) {
  transition-delay: 0.25s;
}

.usage-authors .author-detail:nth-child(2) {
  transition-delay: 0.2s;
}

.usage-authors .author-detail:nth-child(3) {
  transition-delay: 0.15s;
}

.usage-authors .author-detail:nth-child(4) {
  transition-delay: 0.1s;
}

.usage-authors .author-detail:nth-child(5) {
  transition-delay: 0.05s;
}

.usage-authors.loaded .author-detail:nth-child(1n) {
  transition-delay: 0.05s;
}

.usage-authors.loaded .author-detail:nth-child(2n) {
  transition-delay: 0.1s;
}

.usage-authors.loaded .author-detail:nth-child(3n) {
  transition-delay: 0.15s;
}

.usage-authors.loaded .author-detail:nth-child(4n) {
  transition-delay: 0.2s;
}

.usage-authors.loaded .author-detail:nth-child(5n) {
  transition-delay: 0.25s;
}

.usage-authors.loaded .author-detail:nth-child(6n) {
  transition-delay: 0.3s;
}/*# sourceMappingURL=index.css.map */